Repository Automattic/newspack-network, pull requests merged in 2024-02, with the labels that each got.

#39 feat(ci): add epic/* release workflow and rename `master` to `trunk`
  .circleci/config.yml
  .travis.yml
  DEV_NOTES.md
  package-lock.json
  package.json
Labels: [Status] Needs Review

#43 fix(data-listeners): handle no user in wc data update
  includes/class-data-listeners.php
Labels: [Status] Needs Review

#41 Fix Yoast primary category
  includes/class-distributor-customizations.php
  includes/distributor-customizations/global.php
Labels: [Status] Needs Review, Distributor

#42 Sync post status
  includes/class-distributor-customizations.php
  includes/distributor-customizations/class-base.php
  includes/distributor-customizations/global.php
Labels: [Status] Needs Review, Distributor

#46 fix: prevent coauthors capability check infinite loop
  includes/distributor-customizations/class-authorship-filters.php
Labels: [Status] Needs Review

#47 fix: dynamic class property deprecated warnings
  includes/hub/stores/class-abstract-event-log-item.php
  includes/incoming-events/class-abstract-incoming-event.php
Labels: [Status] Needs Review

#45 chore: update PHPCS
  composer.json
  composer.lock
  includes/class-admin.php
  includes/class-debugger.php
  includes/class-initializer.php
  includes/class-rest-authenticaton.php
  includes/class-site-role.php
  includes/class-user-update-watcher.php
  includes/distributor-customizations/class-author-distribution.php
  includes/distributor-customizations/class-author-ingestion.php
  includes/distributor-customizations/class-authorship-filters.php
  includes/distributor-customizations/class-canonical-url.php
  includes/hub/admin/class-nodes-list.php
  includes/hub/admin/class-orders.php
  includes/hub/admin/class-subscriptions.php
  includes/hub/admin/class-users.php
  includes/hub/admin/class-woo.php
  includes/hub/class-admin.php
  includes/hub/class-distributor-settings.php
  includes/hub/class-event-listeners.php
  includes/hub/class-node.php
  includes/hub/class-nodes.php
  includes/hub/class-pull-endpoint.php
  includes/hub/class-webhook.php
  includes/hub/database/class-event-log.php
  includes/hub/database/class-orders.php
  includes/hub/database/class-subscriptions.php
  includes/hub/stores/class-abstract-event-log-item.php
  includes/hub/stores/class-order-item.php
  includes/hub/stores/class-orders.php
  includes/hub/stores/class-subscription-item.php
  includes/hub/stores/class-subscriptions.php
  includes/hub/stores/class-woo-item.php
  includes/hub/stores/class-woo-store.php
  includes/incoming-events/class-abstract-incoming-event.php
  includes/incoming-events/class-canonical-url-updated.php
  includes/incoming-events/class-donation-new.php
  includes/incoming-events/class-donation-subscription-cancelled.php
  includes/incoming-events/class-order-changed.php
  includes/incoming-events/class-reader-registered.php
  includes/incoming-events/class-subscription-changed.php
  includes/incoming-events/class-user-updated.php
  includes/incoming-events/class-woo-item-changed.php
  includes/node/class-pulling.php
  includes/node/class-settings.php
  includes/node/class-webhook.php
  includes/utils/class-users.php
  phpcs.xml
  tests/bootstrap.php
  tests/unit-tests/test-crypto.php
  tests/unit-tests/test-node.php
  tests/unit-tests/test-nodes.php
Labels: [Status] Needs Review

#52 fix: assorted error handling fixes
  includes/class-crypto.php
  includes/distributor-customizations/class-cache-bug-workaround.php
  includes/distributor-customizations/class-sync-post-status.php
  includes/distributor-customizations/class-yoast-primary-cat.php
  includes/incoming-events/class-user-updated.php
  includes/node/class-pulling.php
Labels: [Status] Needs Review

#50 feat: sync billing and shipping addresses
  includes/class-user-update-watcher.php
Labels: [Status] Needs Review

#55 feat: enhance network subscriptions and orders search
  includes/hub/admin/class-woo.php
Labels: [Status] Needs Review

#53 feat: add option to manually sync users
  includes/class-accepted-actions.php
  includes/class-initializer.php
  includes/class-user-manual-sync.php
  includes/hub/stores/event-log-items/class-user-manually-synced.php
  includes/incoming-events/class-user-manually-synced.php
Labels: [Status] Needs Review

#40 Feat/network pass
  DEV_NOTES.md
  includes/class-accepted-actions.php
  includes/class-initializer.php
  includes/incoming-events/class-abstract-incoming-event.php
  includes/incoming-events/class-donation-new.php
  includes/incoming-events/class-donation-subscription-cancelled.php
  includes/incoming-events/class-order-changed.php
  includes/incoming-events/class-subscription-changed.php
  includes/incoming-events/class-woocommerce-membership-updated.php
  includes/woocommerce-memberships/class-admin.php
  includes/woocommerce-memberships/class-events.php
Labels: [Status] Needs Review, On Hold

#59 feat: display membership plans across the network
  includes/class-rest-authenticaton.php
  includes/hub/admin/class-event-log.php
  includes/hub/admin/class-membership-plans-table.php
  includes/hub/admin/class-membership-plans.php
  includes/hub/class-admin.php
  includes/hub/class-distributor-settings.php
  includes/hub/stores/class-woo-store.php
  includes/node/class-settings.php
Labels: [Status] Needs Review

#64 feat: better security on automatic connection
  README.md
  includes/class-initializer.php
  includes/hub/class-connect-node.php
  includes/hub/class-node.php
  includes/hub/class-nodes.php
  includes/node/class-settings.php
Labels: [Status] Needs Review

#58 Feat/better config UX
  README.md
  includes/class-admin.php
  includes/class-initializer.php
  includes/class-site-role.php
  includes/hub/class-connect-node.php
  includes/hub/class-node.php
  includes/hub/class-nodes.php
  includes/node/class-settings.php
Labels: [Status] Needs Review

#56 feat: add hub bookmarks to nodes
  includes/class-accepted-actions.php
  includes/class-data-listeners.php
  includes/hub/class-node.php
  includes/hub/class-nodes.php
  includes/hub/stores/event-log-items/class-nodes-synced.php
  includes/incoming-events/class-nodes-synced.php
  includes/node/class-settings.php
Labels: [Status] Approved

#51 feat(backfill): WP CLI script to backfill reader_registered, donation_new events
  bin/install-wp-tests.sh
  composer.json
  composer.lock
  includes/class-initializer.php
  includes/cli/backfillers/class-abstract-backfiller.php
  includes/cli/backfillers/class-donation-new.php
  includes/cli/backfillers/class-donation-subscription-cancelled.php
  includes/cli/backfillers/class-reader-registered.php
  includes/cli/backfillers/class-woocommerce-membership-updated.php
  includes/cli/class-data-backfill.php
  includes/hub/stores/class-event-log.php
  includes/incoming-events/class-abstract-incoming-event.php
  includes/incoming-events/class-reader-registered.php
  includes/incoming-events/class-user-manually-synced.php
  includes/utils/class-users.php
Labels: [Status] Approved

#65 CLI: sync all events from the Hub
  includes/class-initializer.php
  includes/cli/class-synchronize-all.php
  includes/hub/class-pull-endpoint.php
  includes/hub/stores/class-event-log.php
  includes/node/class-pulling.php
Labels: [Status] Needs Review

#71 fix: added admin.php to woo links in wp admin bar
  includes/hub/class-node.php
Labels: [Status] Needs Review

#70 fix: missing woocommerce-memberships handling
  includes/hub/admin/class-membership-plans.php
Labels: [Status] Needs Review

#72 Fix/backfill duplicate handling
  includes/cli/backfillers/class-reader-registered.php
  includes/cli/class-data-backfill.php
  includes/hub/class-node.php
  includes/hub/stores/class-event-log.php
  includes/incoming-events/class-abstract-incoming-event.php
Labels: [Status] Needs Review

#73 Fix/cli commands
  includes/cli/backfillers/class-abstract-backfiller.php
  includes/cli/class-synchronize-all.php
  includes/node/class-webhook.php
Labels: [Status] Needs Review

#75 Release Feb 28
  CHANGELOG.md
  DEV_NOTES.md
  README.md
  bin/install-wp-tests.sh
  composer.json
  composer.lock
  includes/class-accepted-actions.php
  includes/class-admin.php
  includes/class-data-listeners.php
  includes/class-initializer.php
  includes/class-rest-authenticaton.php
  includes/class-site-role.php
  includes/class-user-manual-sync.php
  includes/cli/backfillers/class-abstract-backfiller.php
  includes/cli/backfillers/class-donation-new.php
  includes/cli/backfillers/class-donation-subscription-cancelled.php
  includes/cli/backfillers/class-reader-registered.php
  includes/cli/backfillers/class-woocommerce-membership-updated.php
  includes/cli/class-data-backfill.php
  includes/cli/class-synchronize-all.php
  includes/hub/admin/class-event-log.php
  includes/hub/admin/class-membership-plans-table.php
  includes/hub/admin/class-membership-plans.php
  includes/hub/admin/class-woo.php
  includes/hub/class-admin.php
  includes/hub/class-connect-node.php
  includes/hub/class-distributor-settings.php
  includes/hub/class-node.php
  includes/hub/class-nodes.php
  includes/hub/class-pull-endpoint.php
  includes/hub/stores/class-event-log.php
  includes/hub/stores/class-woo-store.php
  includes/hub/stores/event-log-items/class-nodes-synced.php
  includes/hub/stores/event-log-items/class-user-manually-synced.php
  includes/incoming-events/class-abstract-incoming-event.php
  includes/incoming-events/class-donation-new.php
  includes/incoming-events/class-donation-subscription-cancelled.php
  includes/incoming-events/class-nodes-synced.php
  includes/incoming-events/class-order-changed.php
  includes/incoming-events/class-reader-registered.php
  includes/incoming-events/class-subscription-changed.php
  includes/incoming-events/class-user-manually-synced.php
  includes/incoming-events/class-woocommerce-membership-updated.php
  includes/node/class-pulling.php
  includes/node/class-settings.php
  includes/node/class-webhook.php
  includes/utils/class-users.php
  includes/woocommerce-memberships/class-admin.php
  includes/woocommerce-memberships/class-events.php
  newspack-network.php
  package-lock.json
  package.json
Labels: [Status] Needs Review
